#menu{
    text-align: center;
    background: #1abc9c;
    color: white;
	font-size: 30px;
	height: 50px;
}


nav{
	float: center;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 5px;
}

nav a{
	color: rgb(204, 209, 216);
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-decoration: none;
	font-size: 18px;
}

nav a:hover{
	color: #1d2629;
}

#gameLine
{
    text-align:left;
}
#score, #time, #usernameTitle, #lives
{
	display:inline;
	padding: 5px;
}

#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(91, 151, 101);
	color: white;
	text-align: center;
	height: 30px;
  }

  #built
  {
	display:inline;
  }

  #canvas{
	  padding: 100 px;
	  border: grey;
	  border-style: solid;
  }